  @font-face {
    font-family: 'RaceTrack';
    font-style: normal;
    font-weight: 600;
    src:
      local('RaceTrack'),
      local('Racetrack_Stencil'),
      url(../fonts/Racetrack/Racetrack_Stencil.otf) format('opentype');
  }

  @font-face {
    font-family: 'Avenir';
    font-style: normal;
    src:
      local('Aveni'),
      local('AvenirLTStd-Book'),
      url(../fonts/avenir_ff/AvenirLTStd-Book.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Arcade';
    font-style: normal;
    font-weight: 600;
    src:
    local('Arcade')
    url(../fonts/arcade/ARCADE_N.ttf);
}

.game-title-container{
    width:100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.play-button p{
    text-align: center;
    height: 44px;	width: 88px;
    color: #F5A623;		
    font-size: 30px;	
    font-weight: 600;	
    letter-spacing: 4px;	
    line-height: 41px;
    font-family: "Avenir";
    margin-top:1vh;
    font-weight: bold;

}

.game-description-title{
    display: flex;
    justify-content: center;
    font-family: 'RaceTrack';
    color: #F5A623;
    font-size: 90px;	
    letter-spacing: 4.88px;	
    line-height: 129px;
    margin-top:5vh;
}

.game-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:5vh;
    padding-bottom:5vh;
    color: #4A4A4A;		
    font-size: 23px;
    font-family: "Avenir";

}

.play-button{
    display: flex;
    width:100vw;
    justify-content: center;
    padding-top: 3rem;
    
}

.challenge-game-selection-background {
    background-image: url(/images/games/Palm_Tree.svg), url(/images/games/Palm_Tree_Right.svg), url(/images/games/Sand.png);
    background-position: left bottom, right bottom, center bottom -55vw;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto 50%, auto 50%, 100% auto;
    height: 100vh;
}


.difficulty-selection{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.difficulty-text{
    width:100vw;
    height:auto;
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
    color: #4A4A4A;	
    font-size: 28px;
    font-weight: bold;

}

.difficulty-pointer{
    text-align: center;
}

.actual-difficulties{
    display:flex;
    width:60vw;
    justify-content: space-evenly;

   
}

@media only screen and (max-width: 1050px) {
.challenge-game-selection-background {
    background-size: auto 40%, auto 40%, 100% auto;
    background-position: left bottom, right bottom, center bottom -55vw;
}
}
