@font-face {
    font-family: 'SpaceRaceFont';
    font-style: normal;
    src:url(../fonts/breecbo/BREECBO_.TTF);
}

@font-face {
    font-family: 'ReadySetTypeFont';
    font-style: normal;
    src:url(../fonts/edgeracer/edgeracer.ttf);
}