@font-face {
    font-family: 'SpaceRaceFont';
    font-style: normal;
    src:url(../fonts/breecbo/BREECBO_.TTF);
}

@font-face {
    font-family: 'Arcade_real';
    font-style: normal;
    src:url(../fonts/arcade/ARCADE_N.ttf);
}

/* for Ready, set, type */
@font-face {
    font-family: 'ReadySetTypeFont';
    font-style: normal;
    src:url(../fonts/edgeracer/edgeracer.ttf);
}

/* for Challenge */
@font-face {
    font-family: 'ChallengeFont';
    font-style: normal;
    src:url(../fonts/arcade/ARCADE_N.ttf);
}

