.character {
    margin-right: 5px;
    margin-left: 5px;
}

.words {
    font-weight: 600;
    font-size: 3rem;
    border-bottom: none !important
}

.data-container{
    width:100vw;
    display:inline-flex;
}

#Buffer{
    width:80vw;
}
.default-character {
    color: #545454;
    font-weight: 550;
}


.StreakCounter{
    height:15vh;
    width:10vw;
    padding-left: 25px;
}

.StreakCounter{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.game-tracker-container{
    width: 100vw;
    height: auto;
    display:flex;
    justify-content: center;
}

.highlighted {
    background: #DAEEE6;
    background-origin: content-box;
    width: 40px;
    border-radius: 10px;
}

.tutorial-modal {
    background-color: #52B094;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20%;
    color: #ffffff;
    text-align: center;
}

.correct-character {
    color: green;
    font-weight: 400;
}

.default-character {
    color: #545454;
    font-weight: 700;
}

.incorrect-character {
    color: red;
}

.incorrect-space-character {
    color: red;
    text-decoration: underline
}

/*.form-buttons {
    background-color: #BFD8BD;
}*/

.content-wrapper{
    margin:0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.time-container{
    width:auto;
}
.modal-text {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size:2rem;
    text-align: center;
}


.button-primary.solid.modal-button {
    margin-bottom:25px;
}

@media only screen and (max-width: 1300px) {
    .words {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1150px) {
    .words {
        font-size: 1.75vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .modal-text {
        font-size:1.8rem;
    }
}

@media only screen and (max-width: 900px) {
   .modal-text {
        font-size:1.6rem;
    }
}