.button.button-outline.start {
    height: 76px;
    width: 220px;	
    border-radius: 8px;	
    color: white;
    background-color: #BFD8BD;	
    border: none;
    font-size: 20px;
}

.badge {
    margin: 0 auto;
    display: flex;
}

.badge-content {
    border-radius: 19px;
    height: 125px;
    width: 125px;
    background-color: #97c9a3;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.badge-description {
}

.quickstart {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 70px;
}

.qs-lesson-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 33px;
    color: #4A4A4A;
}

.qs-lesson-excersise {
    color: #4A4A4A;
    font-size: 35px;
    font-weight: 600;
    line-height: 48px;
}

.qs-image {
    background-color: #77BFA3;
}

.qs-progress {
    margin-top: 1rem;
}

.qs-progress-info {
    height: 25px;
    color: #858485;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: .5rem;
}

.scores {
    display: flex;
}

.column.badge {
    text-align: center
}

.line {
    display: block;
    height: 50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2% 1%;
    padding: 0;
}

/* Progress Bar CSS from Bootstrap 4 */
/* https://getbootstrap.com/docs/4.0/components/progress/ */

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    width: 495px;
}
  
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #77BFA3;
    transition: width 0.6s ease;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}
