/*
Error: Invalid CSS after "76px": expected expression (e.g. 1px, bold), was ";"
        on line 2 of ./HomePage.css

1: .button.button-outline.start {
2:   height: 76px;
3:   width: 220px;
4:   border-radius: 8px;
5:   color: white;
6:   background-color: #BFD8BD;
7:   border: none;

Backtrace:
./HomePage.css:2
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/lexer.rb:231:in `expected!'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:762:in `assert_done'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:69:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script/parser.rb:228:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/script.rb:27:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:1177:in `parse_script'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:749:in `parse_property'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:708:in `parse_property_or_rule'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:667:in `parse_line'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:540:in `build_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:559:in `block in append_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `each'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `append_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:549:in `block in build_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:542:in `each'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:542:in `build_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:559:in `block in append_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `each'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:558:in `append_children'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:417:in `_to_tree'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"76px\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of ./HomePage.css\A \A 1: .button.button-outline.start {\A 2:   height: 76px;\A 3:   width: 220px;\A 4:   border-radius: 8px;\A 5:   color: white;\A 6:   background-color: #BFD8BD;\A 7:   border: none;"; }
