.challenge-game-background {
    background-image: url(./images/games/Palm_Tree.svg), url(./images/games/Palm_Tree_Right.svg), url(./images/games/Sand.png);
    background-position: left bottom, right bottom, center bottom -55vw;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto 85%, auto 85%, 100% auto;
    height: 100vh;
}

.countdown-clock-description {
	justify-content: center;
    align-items: center;
    font-size: 40px;
}


@media only screen and (max-width: 1050px) {
	.challenge-game-background {
		background-size: auto 75%, auto 75%, 100% auto;
	}
}

@media only screen and (max-width: 950px) {
	.challenge-game-background {
		background-size: auto 50%, auto 50%, 100% auto;
	}
}