.title {
  margin-top: 3%;
  color: #77BFA3;
  font-size: 3.5rem;
  display: inline-block;
  margin-right: -5rem;
  margin-left: 9rem;
  margin-bottom: 4rem;
  font-weight: 400; }

.title-container {
  text-align: left; }

.chapter-title {
  color: #4A4A4A;
  width: 45%;
  margin-top: 1.5%;
  /* TODO: Make this more stable. Eyeballed it sj. */
  font-weight: 600;
  font-size: 3rem; }

.carousel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -3rem; }

.learn-carousel-buttons {
  background-color: white;
  border: white;
  color: #77BFA3; }

.left-carousel-button {
  padding-left: 20rem; }

.right-carousel-button {
  padding-right: 20rem; }

.title-content {
  width: 586px;
  color: #77BFA3;
  margin-left: 40px;
  line-height: 55px; }

.lesson-stats-icon.row {
  justify-content: none; }

.block {
  text-align: center; }

.carousel {
  display: flex;
  justify-content: center; }

.left-arrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 1.5em; }

.lesson-badge-content-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: #DDE7C7; }

.lesson-badge-content-txt {
  font-size: 4rem;
  padding-top: 2rem;
  font-weight: 600; }

.lesson-badge-link {
  font-size: 2.5rem;
  padding-top: 1rem;
  margin-left: 3rem;
  padding-top: 3rem;
  text-align: left; }

.lesson-stats-icon {
  margin-bottom: 5rem; }

.lesson-right {
  margin-left: 5rem; }

.lesson-left {
  text-align: left; }

.lesson-badge-desc {
  font-size: 2.5rem;
  padding-top: 3rem;
  margin-left: 3rem; }

.lesson-badge-content-txt-circle {
  font-size: 4rem;
  padding-top: 2rem;
  font-weight: 600; }

.lesson-badge-content-square {
  border-radius: 10%;
  width: 90px;
  height: 90px;
  background-color: #97c9a3; }

.resume-button {
  width: 90px;
  height: 90px;
  cursor: pointer; }

.left-arrow::after {
  margin-top: 2%;
  margin-right: 10%;
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.right-arrow {
  margin-top: 2%;
  margin-left: 10%;
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.lesson-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
  margin-right: 2rem; }

.lesson-sep {
  width: 1px;
  border: 1px solid #52B094; }

.desc {
  font-size: 2rem; }

.chapter-info {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.chapter-num {
  margin-right: 40px;
  background-color: #77BFA3;
  border-radius: 40px;
  width: 35px;
  height: 35px;
  color: white; }

.chapter-name {
  font-weight: 1.1em; 
  width: 83%
}

.chapter {
  display: flex;
  margin-bottom: 2%; }

.num {
  margin-top: 4px;
  margin-right: 1px;
  font-size: 2.2rem; }

.block-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
  color: #4a4a4a;
  font-size: 25px;
  font-weight: 500;
  line-height: 60px; }

.link {
  color: #77BFA3; }

.lesson-view-text {
  color: black;
  font-weight: 500;
  line-height: 1.5;
  font-size: 2.2rem;
  padding-right: 50px;
  padding-left: 200px;
  padding-top: 5px; }
  .lesson-view-text:hover {
    color: #77BFA3; }

.percent-sign {
  font-size: 2.5rem;
  margin-top: -3rem;
  font-weight: 400; }

.learn-lock-icon {
  width: 200px; }

.lock-description {
  padding-top:20px;
  font-size: 2.2rem;
  width: 74%;
  margin: 0 auto;
}

@media only screen and (max-width: 1600px) {
  .lesson-view-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 2rem;
    padding-left: 160px; } }
@media only screen and (max-width: 1300px) {
  .title {
    font-size: 2.5rem;
    margin-right: -10rem; }

  .chapter-title {
    font-weight: 500;
    font-size: 2.5rem; }

  .chapter-name {
    font-size: .7em; }

  .chapter-num {
    width: 25px;
    height: 25px; }

  .num {
    font-size: 1.5rem; }

  .block-info {
    margin-top: 2rem; }

  .lesson-view-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 2rem;
    padding-left: 100px; } }
@media only screen and (max-width: 1200px) {
  .lesson-view-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 2rem;
    padding-left: 75px; }

  .lesson-badge-desc {
    font-size: 2rem; }

  .lesson-badge-link {
    font-size: 2rem; }

  .lesson-badge-content-txt-circle {
    font-size: 3rem; }

  .lesson-badge-content-txt {
    font-size: 3rem;
    padding-top: 2.5rem; }

  .learn-lock-icon {
    width: 50%; }

  .lock-description {
    font-size: 2.1rem;
  }


  .percent-sign {
    font-size: 2rem;
    margin-top: -2rem; } }
@media only screen and (max-width: 1050px) {
  .lock-description {
    font-size: 2rem;
  }

  .title {
    font-size: 2.2rem;
    margin-right: -11rem; }

  .chapter-title {
    font-weight: 500;
    font-size: 2.2rem; }

  .chapter-name {
    font-size: .7em; }

  .chapter-num {
    width: 30px;
    height: 30px; 
    padding-top: 3px;}

  .num {
    font-size: 1.3rem; }

  .block-info {
    margin-top: 1rem; }

  .lesson-view-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.8rem;
    padding-left: 50px; }

  .left-carousel-button {
    padding-left: 15rem; }

  .right-carousel-button {
    padding-right: 15rem; }

  .learn-lock-icon {
    width: 50% }

  .lesson-badge-desc {
    font-size: 1.7rem; }

  .lesson-badge-link {
    font-size: 1.7rem; } }
@media only screen and (max-width: 950px) {
  .lesson-view-text {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.8rem;
    padding-left: 25px; }

  .left-carousel-button {
    padding-left: 10rem; }

  .right-carousel-button {
    padding-right: 10rem; } }

/*# sourceMappingURL=Learn.css.map */
