.lesson-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.lock-description {
	margin-top:15px;
}

.learn-start-button {
	background-color: #BFD8BD;
	border: #BFD8BD;
}