.header {
    height: 74px;
    background: #99C9C9;
}

.content-sep {
    width: 1px;
    border: 1px solid #979797;
}

.footer-boxes {
    display: flex;
    justify-content: center;
}

.big-img {
    height: 500px;
}

.footer {
    margin-top: 3rem;
}

.logo {
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.login-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-right {
    height: 300px;
    width: 300px;
    margin-top: 5rem;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-button.button-primary.solid  {
    height: 5.5rem;
    font-size: 1.5rem;
    background-color: #99C9C9;
    border: white;
}

.form-input {
    height: 5rem;
    margin-bottom: 4rem;
}

.content-left {
    width: 60%;
    text-align: center;
}

.body-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.login-content {
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.login {
    width: 70%;
}