.navigation {
    background-color: #77BFA3;
    padding: 1rem;
    font-size: 3.5rem;
}

.navigation a {
    color: #ffffff;
}

.navigation-title:hover, .navigation-title:active {
    color: #6C7A89;
    transition: color 50ms linear 0s;
}

.navigation-item {
    display: inline=block;
    float: right;
    list-style: none;
    margin: 0 auto;
    padding: 0 2rem 1rem 2rem;

    border-bottom: 4px solid transparent;
    transition: border-bottom-color 50ms linear 0s;
}

.navigation-item:hover, .navigation-item:active {
    border-bottom-color: #FAFAFA;
}
