@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600');

$palm-green: #52B094;
$hover-light: #DADFE1;
$hover-dark: #555555;
$silver-tree: #68C3A3;
$chestnut-rose: #D24D57;
$menu-gray: #A2A3A4;

$container-height: 70vh;
$image-dim: 100px;

$transition-delta: 0.06s;
$button-width: 50px;

body {
  font-family: 'Nunito Sans', 'Open Sans', 'sans-serif';
}

h1 {
  font-size: 1.8em;
  font-weight: 200;
}
h2 {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.panel h3 {
  text-align: right; // kludge
}

hr {
  border-color: $palm-green;
  margin: 5vh auto 8vh auto;
  width: 15%;
}

p {
  margin: 0 auto;
  text-align: left;
}

input[type="password"] {
  height: $button-width / 2 - 1px;
}

.container {
  height: $container-height;
  max-height: 70vh;
  max-width: 30vw;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

.vert-container {
  position: absolute;
  top: 50%;
  margin-top: $container-height - 100vh;
  height: inherit;
  width: 100%;
}

/*
.eye {
  width: 13px;
  height: 13px;
  border: solid 1px #000;
  border-radius:  75% 15%;
  position: relative;
  transform: rotate(45deg);
}
.eye:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: solid 1px #000;
  border-radius: 50%;
  left: 3px;
  top: 3px;
}
*/

.hide {
  display: none;
}

.panel {
  margin: 0 auto;
  position: relative;
  width: 60%;
}

.password-info {
  margin-top: -2px;
}

.top {
  margin-bottom: 2vh;
  margin-top: 8vh;
}

#profile-pic {
  margin: 0 auto;
  img {
    border: 5px solid $palm-green;
    border-radius: 50%;
    height: $image-dim;
    width: $image-dim;
  }
}

.options {
  float: left;
  margin-left: -18px;
  margin-top: -1px;

  button {
    -webkit-transition-duration: $transition-delta;
    -moz-transition-duration: $transition-delta;
    -ms-transition-duration: $transition-delta;
    -o-transition-duration: $transition-delta;

    background-color: $palm-green;
    border: 1px solid $palm-green;
    border-radius: 0;
    font-size: 60%;
    height: $button-width / 2 - 1px;
    line-height: $button-width / 2 - 1px;
    //width: $button-width;
    min-width: $button-width;
    margin: 0 2px;
    padding: 0 $button-width / 5;
    text-align: center;
    &:hover {
      background-color: $silver-tree;
      border: 1px solid $silver-tree;
      color: $hover-light;
    }
    &:active, &:focus {
      border: 1px solid $silver-tree;
      outline: 0;
    }
    &::-moz-focus-inner {
      border:  none;
      outline: 0;
    }
  } 
}

#view {
  float: left;
}
#edit {
  float: right;
  margin: -0.4em auto auto -1em;
  img {
    height: 13px;
    width: 13px;
  }
}
