.button.button-outline.start {
  height: 76px;
  width: 220px;
  border-radius: 8px;
  color: white;
  background-color: #BFD8BD;
  border: none;
  font-size: 20px; }

.badge {
    margin: 0 auto;
    display: flex !important;
}

.title-progress {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .title-progress {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
  }

  .progress-chapter-image {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .progress-chapter-image {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1050px) {
  .title-progress {
      font-size: 2rem;
      display: flex;
      justify-content: center;
  }

  .progress-chapter-image {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 950px) {
  .progress-chapter-image {
    margin-top: 4rem;
  }
}

.progress-welcome {
  font-weight: 500;
  color: #4A4A4A;
}

.badge-name {
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 1rem;
}

.badge-content {
    font-size: 3rem;
    margin-bottom: 0px;
    border-radius: 19px;
    height: 150px;
    width: 150px;
    background-color: #97c9a3;
    margin-right: 3rem;
/*    margin-right: 25%;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#square {
  background-color: #97C9A3;
}

#circle {
  border-radius: 50%;
  background-color: #DDE7C7;
}

.badge-content h1{
    margin-bottom: 0px;
    font-weight: bold;
}

.badge-description {
  margin-top: 1rem;
}

.quickstart {
  margin-top: 5%;
  display: flex;
  justify-content: space-around; }

.title {
  margin-top: 70px; 
}

.qs-lesson-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 33px;
  color: #4A4A4A; }

.qs-lesson-excersise {
  color: #4A4A4A;
  font-size: 35px;
  font-weight: 600;
  line-height: 48px; }

/* .qs-image {
    background-color: #77BFA3;
} */

.progress-spacing {
  margin: 1rem;
}

.qs-progress {
  margin-top: 1rem; }

.qs-progress-info {
    color: #D8D7D8;
} 

/* .qs-progress-info {
    height: 25px;
    color: #858485;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: .5rem;
} */

.scores {
  display: flex; }

.column.badge {
  text-align: center; }

.line {
    display: block;
    height: 50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2% 1%;
    padding: 0;
}
