@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
#container {
  margin-top: 10vh;
  height: 70vh;
  max-height: 70vh;
  max-width: 65vw; }

.left-panel {
  padding: 1em;
  height: 70vh;
  text-align: justify; }

/* A vertical-centering hack for the right panel. */
.right-panel-container {
  position: relative; }

.right-panel {
  position: absolute;
  top: 50%;
  margin-top: -30vh; }

.void {
  min-height: 21vh;
  height: 21vh; }

.bottom {
  margin-top: -7vh; }

.center {
  position: relative;
  text-align: center; }

.vertical-line {
  border-left: 1px solid #52B094; }

.dropdowns {
  margin-left: 0; }

.title {
  color: #2A2A2A;
  text-align: center; }

.username {
  margin-top: 1em; }

.password {
  margin-top: 1em; }

.gender {
  margin-top: 1em;
  margin-left: 0; }

.gender-radios {
  font-size: 90%;
  margin-bottom: 2em; }
  .gender-radios .column {
    padding: 0; }
  .gender-radios .column-20 {
    padding: 0; }

.occupation {
  margin: -2em 0 0 -0.5em; }

.occupation-radios {
  font-size: 90%; }
  .occupation-radios input[type="radio"] {
    margin-top: 5px; }

.next {
  margin-top: 5vh;
  height: 10vh; }

a {
  color: #52B094; }

h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 0.5em; }

.hide {
  display: none; }

.specify-occupation input {
  margin: 0 0 0 -1px;
  width: 99%; }

input, input[type="password"] {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  border-color: #52B094;
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  max-height: 25px;
  width: inherit; }
  input:focus, input[type="password"]:focus {
    border-color: #DADFE1; }

input[type="radio"] {
  margin: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  box-shadow: 0;
  border-radius: 50%;
  border: 1px solid #52B094 !important;
  outline: none; }
  input[type="radio"]:checked {
    background-color: #52B094;
    outline: none; }

button {
  background-color: #BFD8BD;
  /*#EFEFEF;*/
  border: none;
  color: white; }

#btn-next {
  background-color: #52B094; }
  #btn-next:hover {
    background-color: #68C3A3;
    color: #DADFE1; }

button:hover, button:active {
  background-color: #68C3A3;
  color: #DADFE1; }

/********* DROPDOWN MENU (BIRTHDATE) *********/
.Dropdown-control {
  border: 1px solid #52B094;
  border-radius: 0;
  color: #A2A3A4;
  font-size: 70%;
  padding: 3px 5px 2.5px 6px;
  width: inherit; }

.Dropdown-arrow {
  border-color: #52B094 transparent transparent; }

.Dropdown-menu {
  width: 3.95em; }

.Dropdown-root {
  margin: 0 1px;
  width: 3.95em; }

.Dropdown-arrow {
  right: 5px; }

#ddoccupation {
  margin: 0 2px 0 -2px; }
  #ddoccupation > .Dropdown-root {
    /* Special case for full-width dropdown. */
    width: inherit; }
    #ddoccupation > .Dropdown-root > .Dropdown-menu {
      width: 100%; }

/*# sourceMappingURL=SignupPage.css.map */
