@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

$palm-green: #52B094;
$hover-light: #DADFE1;
$hover-dark: #2A2A2A;
$silver-tree: #68C3A3;
$menu-gray: #A2A3A4;

$container-height: 70vh;
$dropdown-width: 3.95em;
$void-height: 21vh;
$input-thickness: 1px;
$radio-dim: 10px;
$radio-fontsize: 90%;

$transition-delta: 0.1s;

#container {
  margin-top: 10vh;
  height: $container-height;
  max-height: 70vh;
  max-width: 65vw;
}

.left-panel {
  padding: 1em;
  height: $container-height;
  text-align: justify;
}

/* A vertical-centering hack for the right panel. */
.right-panel-container {
  position: relative;
}
.right-panel {
  position: absolute;
  top: 50%;
  margin-top: $container-height - 100vh;
}

.void {
  min-height: $void-height;
  height: $void-height;
}
.bottom {
  margin-top: $container-height - 77vh;
}

.center {
  position: relative;
  text-align: center;
}

.vertical-line {
  border-left: $input-thickness solid $palm-green;
}

.dropdowns {
  margin-left: 0;
}

.title {
  color: #2A2A2A;
  text-align: center;
}

.username {
  margin-top: 1em;
}

.password {
  margin-top: 1em;
}

.gender {
  margin-top: 1em;
  margin-left: 0;
}
.gender-radios {
  font-size: $radio-fontsize;
  margin-bottom: 2em;
  .column {
    padding: 0;
  }
  .column-20 {
    padding: 0;
  }
}

.occupation {
  margin: -2em 0 0 -0.5em;
}
.occupation-radios {
  font-size: $radio-fontsize;
  input[type="radio"] {
    margin-top: 5px;
  }
}
.occupation-specify {
}

.next {
  margin-top: $container-height - 65vh;
  height: 10vh;
}


h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

input, input[type="password"] {
  -webkit-transition: all $transition-delta ease-in-out;
  -moz-transition: all $transition-delta ease-in-out;
  -ms-transition: all $transition-delta ease-in-out;
  -o-transition: all $transition-delta ease-in-out;

  border-color: $palm-green;
  border-radius: 0px;
  border-style: solid;
  border-width: $input-thickness;
  max-height: 25px;
  width: inherit;
  &:focus {
    border-color: $hover-light;
  }
}
input[type="radio"] {
  margin: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  height: $radio-dim;
  width: $radio-dim;
  box-shadow: 0;
  border-radius: 50%;
  border: 1px solid $palm-green!important;
  outline: none;
  &:checked {
    background-color: $palm-green;
    outline: none;
  }
}

button {
  background-color: #BFD8BD;/*#EFEFEF;*/
  border: none;
  color: white;
}
#btn-next {
  background-color: $palm-green;
  &:hover {
    background-color: $silver-tree;
    color: $hover-light;
  }
}

button:hover, button:active {
  background-color: $silver-tree;
  color: $hover-light;
}

/********* DROPDOWN MENU (BIRTHDATE) *********/
.Dropdown-control {
  border: $input-thickness solid $palm-green;
  border-radius: 0;
  color: $menu-gray;
  font-size: 70%;
  padding: 3px 5px 2.5px 6px;
  width: inherit;
}
.Dropdown-arrow {
  border-color: $palm-green transparent transparent;
}
.Dropdown-menu {
  width: $dropdown-width;
}
.Dropdown-root {
  margin: 0 $input-thickness;
  width: $dropdown-width;
}
.Dropdown-arrow {
  right: 5px;
}
#ddoccupation {
  margin: 0 2px 0 -2px;
  > .Dropdown-root { /* Special case for full-width dropdown. */
    width: inherit;
    > .Dropdown-menu {
      width: 100%;
    }
  }
}
