.correct-letter {
    color: green;
}

.incorrect-letter {
    color: red;
}

.default-letter {
    color: black;
}

.words {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    border-bottom: 1px solid grey;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    margin-left: 15%;
    margin-right: 15%;
}

.content-wrapper {
    margin-top: 60px;
}

.highlighted {
    background: #DAEEE6;
    background-origin: content-box;
    width: 40px;
    border-radius: 10px;
}

.tutorial-modal {
    background-color: #52B094;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    color: #ffffff
}

/*.form-buttons {
    background-color: #BFD8BD;
}*/

.keyboard-hands.row {
    display: flex;
    justify-content: space-evenly;
}

.modal-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.button-primary.solid.modal-button {
    margin-left: 40%;
}