.character {
    margin-right: 5px;
    margin-left: 5px;
}

.words {
    font-weight: 600;
    border-bottom: 1px solid grey;
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

@media only screen and (max-width: 1200px) {
    .words {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1030px) {
    .words {
        font-size: 1.75vw;
        margin-left: 20%;
        margin-right: 20%;
    }
}



.default-character {
    color: #545454;
    font-weight: 550;
}

.content-wrapper {
    margin-top: 60px;
}

.highlighted {
    background: #DAEEE6;
    background-origin: content-box;
    width: 40px;
    border-radius: 10px;
}

.tutorial-modal {
    background-color: #52B094;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    color: #ffffff
}

/*.form-buttons {
    background-color: #BFD8BD;
}*/

.keyboard-hands.row {
    display: flex;
    justify-content: space-evenly;
}

.modal-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.button-primary.solid.modal-button {
    margin-left: 40%;
}